@import '../abstract/variaveis';

.footer {
    z-index: 1;
    .footer--img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4rem 2.5rem 0rem 2.5rem;
        background: $color-blue;
        border: solid 1px $color-blue;
        padding: 8rem 3rem 3rem 3rem;
        border-radius: 24px 24px 0 0;
        border-bottom: solid 1px $color-gray-light;
        position: relative;
        .footer--img--line{
            position: absolute;
            top: 0rem;
            right: 0rem;
        }
        .footer--img--bubble {
            max-width: 60%;
            position: absolute;
            top: 3rem;
            right: 6rem;
            z-index: 2;
        }
        .footer--hello {
            display: flex;
            color: $color-white;
            align-items: center;
            z-index: 10;
            margin-bottom: 3rem;
                p {
                margin-left: 0.5rem;
                font-size: calc($sizes / 3);
                font-weight: 400;
            }
            
        }
        h5 {    
            font-size: 18px;
            color: $color-white; 
            line-height: 24px;
            align-self: center;
            text-align: center;
            z-index: 10;
        }

    }
    .footer--contact {
        display: flex;
        flex-direction: column;
        margin: 4rem 2.5rem 2.5rem 2.5rem;
        padding: 4rem 3rem 3rem 3rem;
        background: $color-blue;
        border-radius: 0 0 24px 24px; 
        justify-items: center;
        margin-top: 0;
        h2 {
            color: $color-white;
            font-size: 32px;
            text-align: center;
            line-height: 40px;
            font-weight: bold;
            margin-bottom: 4rem;
            z-index: 10;
        }
        a {
            background: $color-white;
            align-self: center;
            padding: 1.5rem 4rem;
            border-radius: 8px;
            text-align: center;
            text-decoration: none;
            font-size: 12px;
            font-weight: 600;
            z-index: 10;
        }
    }
    .footer--logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
        padding: 2rem;
        position: relative;
        .footer--logo-agency {
            text-align: center;
            padding: 2rem;
        }
        .footer--logo-agency-p {
            color: $color-gray-light;
            padding: 2rem 1rem;
        }
        .footer--label {
            display: flex;
            justify-content: space-between;
            border: solid 1px $color-gray-light;
            padding: 1.5rem 1rem;
            border-radius: 8px;
            z-index: 100;
            select {
                border: none;
                z-index: 200;
                option {
                    width: 50px;
                }
            }
        }
    }
    .footer--logo-socials {
        display: flex;
        padding: 0rem 2rem;
        img {
            width: calc($sizes);
            margin: 1rem 0.2rem;
        }
        
    }
    .footer--bottom{
        color: $color-gray-light;
        font-size: 12px;
    }
    .footer--line--bottom--img {
        position: absolute;
        top: -4rem;
        right: 5rem;
    }
    
}
.footer--logo-icone {
    display: none;
}
@media screen and (min-width: 1024px){
    .footer--img--bubble {
        display: none;
    }

    .footer {

        .footer--img {
            .footer--logo-icone {
                display: block;
                margin-bottom: 2rem;
                img {
                    width: 2.5rem;
                }
            } 
            .footer--hello {
                p {
                    font-size: 4rem;
                }
            } 
            h5 {
                font-weight: bold;
                width: 40%;
            }
        }
        .footer--contact {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            a {
                display: none;
            }
        }
    }
}
