@import '../abstract/variaveis';

.main--service--body {    
    background: linear-gradient(rgba(237, 229, 240, 0.5043) 0%, rgba(255, 255, 255, 0.0001) 100%);
    .main--service {
        display: flex;
        flex-direction: column;
        color: $color-white;
        justify-content: space-around;
        padding: 0 2rem 0 2rem;   
        .main--who-we-do {
            display: flex;
            flex-direction: row;
            font-size: 18px;
            font-weight: 400;
            padding: 2rem 0;
            p {
                color: $color-blue;
                margin-right: 2rem;
            } 
        }
        h2 {
            font-size: 3rem;
            margin-bottom: 2rem;
            font-weight: bold;
            line-height: 3rem;
            color: $color-dark;
        }
        .main--arrow2 {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
    }
}
.main--service--card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem 0 2rem;
    .service--card {
        background: $color-white;
        width: 85%;
        border-radius: 32px;
        align-self: center;   
        padding: 2.5rem 3rem; 
        margin: 1rem 2rem; 
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-bottom: solid 10px rgba(236, 233, 233, 0.5);         
        :first-child[strategy] {
            background: #D1ECFD;
            padding: 1.6rem;
            border-radius: 50%;
        }
        :first-child[branding] {
            background: #908CFF;
            padding: 1.5rem 0 0 1.2rem;
            border-radius: 50%;
        }
        :first-child[interative] {
            background: $color-orange;
            padding: 1.5rem 0.2rem 0.8rem 1.1rem;
            border-radius: 50%;
        }
        :first-child[communicate] {
            background: #FFADD0;
            padding: 1.6rem 0.1rem 0.1rem 1.6rem;
            border-radius: 50%;
        }
        :last-child {
            color: $color-blue;
            font-size: 18px;
            font-weight: 600;
            align-self: center; 
            margin-left: 2rem ;         
        } 
    }
}
.service--card:hover {
    background: $color-blue;
    border: none;
    :last-child {
        color: $color-white;
    }
} 
.service--line {
    position: relative;
    img {
        position: absolute;
        top: -28rem;
        right: 0;
        z-index: -1;
    }
} 
.main--service--achievement {
    display: flex;
    flex-direction: column;
    color: $color-white;
    justify-content: space-around;
    padding: 1rem 2rem 0 2rem;  
    .service--achievement{
        display: flex;
        flex-direction: row;
        font-size: 18px;
        font-weight: 600;
        padding: 2rem 0;
        color: $color-gray-light;
        :last-child {
            color: $color-dark;
            margin-left: 2.5rem;
            font-weight: 500;
        } 
    }
    h2 {
        font-size: 1.8rem;
        width: 85%;
        margin-bottom: 2rem;
        font-weight: 700;
        line-height: 3rem;
        color: $color-dark;
    }
}
.service--number {
    font-size: 140px; 
    color: $color-blue;
    font-family: $font-secundary;
    margin: 2rem;
    margin-left: 2rem;
    :first-child {
        margin-bottom: -4rem;
    }
    :last-child {
        width: 60%;
    }
}
.main--service--phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    position: relative;
    :first-child {
        margin: 2rem;
        margin-bottom: -4rem;
    } 
    :nth-child(2){
        width: 75%;
        position: absolute;
        top: 8rem;
        z-index: -1;
    }   
}
.main--year-symbol {
    display: none;
}

@media screen and (min-width: 1024px){ 
    #page--tablet-main-service {
        background: $color-gray-gradient;
        .tablet--service {
            display: flex;
            margin-top: 3rem;
            justify-content: flex-start;
            align-items: flex-start;
            .main--year-symbol {
                display: block;
                width: 20%;
                img {
                    margin-top: 2rem;
                    width: 2.5rem;
                    margin-left: 3rem;
                }
            }
            .tablet--who-we-do {
                flex-direction: column;
                h2 {
                    font-size: 3rem;
                }
            }
            .main--arrow2 {
                display: flex;
                justify-content: space-around;
                margin-top: 5rem;
                margin-right: 4rem;
                z-index: 20;
                img {
                    width: 50px;
                    margin: 0 0.5rem;
                }
            }
        }
        .main--service--card {
            display: flex;
            flex-direction: row;
            margin-top: 3rem;
            .service--card {
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                margin: 0;
                max-width: 21%;
                height: 400px;
                padding: 3rem 0;
                :first-child[strategy] {
                    background: #D1ECFD;
                    padding: 1rem;
                    border-radius: 50%;
                    width: 100px;
                }
                :first-child[branding] {
                    background: #908CFF;
                    padding: 1.5rem 0 0 1.2rem;
                    border-radius: 50%;
                    width: 100px;
                }
                :first-child[interative] {
                    background: $color-orange;
                    padding: 1.5rem 0.2rem 0.8rem 1.1rem;
                    border-radius: 50%;
                    width: 100px;
                }
                :first-child[communicate] {
                    background: #FFADD0;
                    padding: 1.6rem 0.1rem 0.1rem 1.6rem;
                    border-radius: 50%;
                    width: 100px;
                }
                :last-child {
                    color: $color-blue;
                    font-size: 18px;
                    font-weight: 600;
                    justify-self: center;
                    width: 100px;        
                } 
                .span-communicate {
                    justify-self: flex-start;
                    margin: 0;
                }
            }
        }
        .service--card:hover {
            background: $color-blue;
            border: none;
            height: 440px;
            :last-child {
                color: $color-white;
            }
        } 
        .tablet--achievement {
            display: flex;
            flex-direction: row-reverse;
            margin-top: 5rem;
            .main--service--achievement {
                .service--achievement {
                    margin-top: 3rem;
                    :first-child {
                        margin-right: 4rem ;
                    }                          
                }
                h2 {
                    line-height: 2.5rem;
                }  
            }
            .service--number {
                :last-child {
                    width: calc($sizes * 4);
                }
            }
        }
    }
}