@import '../abstract/variaveis';

.main--service {
    display: flex;
    flex-direction: column;
    color: $color-white;
    justify-content: space-around;
    padding: 0 2rem 0 2rem;   
    .main--who-we-do {
        display: flex;
        flex-direction: row;
        padding: 2rem 0;
        p {
            color: $color-blue;
            margin-right: 2rem;
            font-size: 18px;
            font-weight: 400;
        } 
    }
    h2 {
        font-size: 2.5rem;
        width: 80%;
        margin-bottom: 2rem;
        font-weight: bold;
        line-height: 3rem;
        color: $color-dark;
    }
    p {
        color: $color-gray;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }
}
.work--card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .work--card--product {
        :first-child[card-one]{
        margin: 2rem;
        padding-bottom: 1rem;
        background: $color-dark-orange;
        border-radius: 18px 18px;
        }
        :first-child[card-two]{
            margin: 2rem;
            background: $color-violet;
            border-radius: 18px;
        }
        :first-child[card-three]{
            margin: 2rem;
            background: $color-little-orange;
            border-radius: 18px;
        }
        :first-child[card-four]{
            margin: 2rem;
            background: $color-little-blue;
            border-radius: 18px;
        }
        :first-child[card-five]{
            margin: 2rem;
            background: $color-dark-orange;
            border-radius: 18px;
        }
        a {
            text-decoration: none;
            color: $color-white;
            background: $color-blue;
            padding: 0.5rem 1rem;
            border-radius: 25px;
            position: relative; 
            bottom: 6rem;
            left: 4rem;                       
        }
    }
    h2 {
        font-size: 1.5rem;
        width: 80%;
        margin: 0 0 1rem 2rem;
        font-weight: bold;
        line-height: 3rem;
        color: $color-dark;
    }
    p {
        margin: 0 2rem;
        color: $color-gray;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }
    .work--stroke {
        width: $sizes;
        margin: 2rem;
    }
}
.work--contact {
    a {
        background: $color-blue;
        padding: 1.5rem 5rem;
        border-radius: 8px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: $color-white;
        display: flex;
        margin: 2rem;
        justify-content: center;
    }
}
