$font-primary: 'Roboto', sans-serif;
$font-secundary: 'Montserrat', sans-serif;

$color-dark: #232340;
$color-gray: #606060;
$color-blue: #5468E7;
$color-white: #ffffff;
$color-black: #000000;
$color-gray-light: #ADADAD;
$color-orange: #FFC0A5;
$color-dark-violet: #C897E4;
$color-violet: #E8BEFF;
$color-dark-orange: #FFBA79;
$color-orange-light: #FFBC50;
$color-little-orange: #FFCE79;
$color-blue-light: #79BAF2;
$color-little-blue: #D1ECFD;

$sizes: 3rem;
